.checkout-banner {
  background: rgb(169, 197, 219);
  background: linear-gradient(
    5deg,
    rgba(169, 197, 219, 1) 13%,
    rgba(58, 127, 196, 1) 51%,
    rgba(29, 29, 209, 1) 83%
  );
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: sticky;
  justify-content: center;
  z-index: -1;
}

.checkout-container {
  display: flex;
  padding: 15px;
  height: max-content;
}

.subtotal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 290px;
  height: 150px;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
}

.checkout-button {
  display: flex;
  align-self: center;
  width: 70%;
  justify-content: center;
  box-shadow: 0 0 1px green;
}
.checkout-left {
  width: 50%;
  padding: 10px;
}

.checkout-right {
  width: 50%;
  display: flex;
  justify-content: center;
}

.card-img-bottom {
  max-width: 50%;
  max-height: 40%;
  padding: 5px;
  margin: 0 auto;
}
