/* header general */
.header-container {
  background-color: lightblue;
  height: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  cursor: pointer;
  z-index: 111;
  box-shadow: 1px 2px 4px lightblue;
  width: 100vw;
}
.header-child {
  font-size: 1rem;
  font-weight: 700;
}

/* brand logo */
.brand-logo-item {
  width: 6rem;
  height: 2rem;
  margin-left: 0.5rem;
}

/*  second child*/

.search-bar {
  display: flex;
  flex: 0.7;
  justify-content: center;
  align-items: center;
}
.search-bar-item {
  width: 100%;
  height: 1.5rem;
  border: 1px solid black;
}
.search-icon {
  padding: 0.1rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* three */
.sign-in {
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 10px;
}
.greeting {
  font-size: 0.6rem;
  font-weight: 400;
}

/* four */
.order {
  margin-right: 2px;
}

.cart {
  display: flex;
  align-items: center;
}
.cart-item-count {
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 500px) {
  .header-container {
    width: 100vw;
  }
  .header-child {
    font-size: 0.5rem;
    font-weight: 500;
  }

  .brand-logo {
    font-size: 0;
    font-weight: 100;
  }
  .search-icon {
    max-width: 70vw;
    padding: 0.1rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 500px) {
  .header-container {
    width: 100vw;
  }
  .header-child {
    font-size: 0.3rem;
    font-weight: 600;
  }

  .brand-logo {
    font-size: 0;
  }
  .search-icon {
    max-width: 60vw;
    padding: 0.1rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
