.category-container {
  width: 30%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.home-below {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.category-col1 {
  width: 90%;
  display: flex;
  padding: 30px 5px;
}

.margin-span {
  margin: 0 6px 0 3px;
}

.category-item {
  padding: 5px;
  border: 1px black solid;
  box-shadow: 0 0 2px black;
  border-radius: 3px;
}
