.item-container {
  display: flex;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 20vw;
  height: 55vh;
  background-color: white;
  z-index: 1;
  border: 1px solid black;
}

.item-info {
  max-height: 190px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 20px;
}

.item-inner {
  margin-left: 0;
  margin-bottom: 10px;
}

.basket-button {
  margin: 0 auto;
}
