.item-container {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  flex-wrap: wrap;
  padding: 25px;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 20vw;
  height: 55vh;
  background-color: white;
  z-index: 1;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.item-info {
  max-height: 100px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 20px;
}

.item-inner {
  margin-left: 0;
  margin-bottom: 10px;
}

.basket-button {
  background-color: gold;
  border: 1px solid rgb(204, 176, 17);
  display: flex;
  align-self: center;
}
.card {
  margin-top: 10px;
}
.item-container {
  padding: 25px;
}
.card-img-top {
  max-width: 9rem;
  max-height: 9rem;
  margin: 0 auto;
  padding-top: 5px;
}
