.accord {
  text-align: center;
}

.payment-container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

.Accord-heading {
  color: skyblue;
  margin-bottom: 10px;
}
.accordion-remove-button {
  width: 30px;
  height: 30px;
  background-color: red;
  border: none;
  color: white;
  border-radius: 4px;
}

.accord-payment-container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
